<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List ejs</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/work">Work List</a></li>
        <li><a href="/ueberuns">Über Uns</a></li>
    </ul>
</nav>

<div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
</div>